html{
    background-color:rgb(255, 233, 254);
}
.red_heading{
    color: darkmagenta;
}

/* ----------a_tag---------- */

a[draggable="true"]{
    color: lightseagreen;
    font-style: italic;
}
a[draggable="false"]{
    color:darkred;
}