body {
    color: black;
    font-family: sans-serif;
    background-color: rgb(152, 103, 180);
    margin: 0px;
}

#header {
    background-color: rgb(134, 83, 163);
    width: 100%;
    margin: 0px;
    padding: 10px ;
    height: auto;
    position: relative;
}

#data {
    padding: 20px;
}

#data > a {
    display: inline-block;
    margin: 10px;
    padding: 0px 20px;
    background-color: rgb(0, 173, 43);
    color: black;
    text-decoration: none;
    border-radius: 10px;
}

#footer {
    background-color: rgb(134, 83, 163);
    bottom: 0px;
    position: fixed;
    width: 100%;
}

#footer > a {
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

h1 {
    font-weight: 900;
}

@media (hover:hover) {
    #data > a:hover {
        background-color: rgb(0, 143, 36);
    }

    #footer > a:hover {
        color: brown;
    }
}